.Genre{
    /* height: 300px; */
    /* padding: 50px; */
    margin: 10px 0;
    border: 2px solid black;
    overflow-x: scroll;
    width: 100%;
    overflow-y:hidden;
}

.Genre h3{
    text-align: center;
    font-size: 1.5rem;
}

.BookContainer{
    /* margin: 20px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 100%;
}

